$primary-color: #BE1E2E;
$fill-color:#FAE0E0;
$secondary-color:#911738;

.notifContainer{
    border-radius: 10px;
    position: absolute;
    height: 50vh;
    width: 20vw;
    z-index: 999;
    background-color: $fill-color;
    top: 2.5rem;
    .headNoti{
        display: flex;
        justify-content: space-evenly;
        button{
            all: unset;
            color: $secondary-color;
            cursor: pointer;
        }
    }
    .notimapcontainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-items: center;
        align-content: center;
        // align-items: center;
        hr{
            color: $secondary-color;
        }
        .notiContent{
            text-align: center;
            // padding-top: 0.5rem;
        }
    }
}